<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.29" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.8.525" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Threading" version="15.3.23" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.15" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net462" />
</packages>